.tableContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-width: 500px;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
}

.table {
    width: 100%;
}

.rangeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rangeContainer span {
    margin: 0 5px 0 5px
}

.pagesFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.openBtn {

}